# Firebase Configuration
FIREBASE_ADMIN_SDK_PATH=fish-feeder-test-1-firebase-adminsdk.json
FIREBASE_DATABASE_URL=https://fish-feeder-test-1-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_PROJECT_ID=fish-feeder-test-1

# Serial Configuration
BAUD_RATE=9600

# Application Configuration
DEBUG=False
LOG_LEVEL=INFO 